@import url('https://fonts.googleapis.com');
body,
html{
    background-color:#30336b;
    font-family: "Inconsolata",sans-serif;
    height: 100vh;
    display: flex;

}
.main-heading{
    letter-spacing: 1px;

}
h1{
    margin-top:150px;
    font-size: 50px;
    color: white;
    padding-left: 25%;
}
img{
    margin-top: 120px;
    text-align: center;
}
.n5{
    height: 30px;
    margin-bottom:170px;
    background-color: yellow;
   
}